<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.example.mydemos_len">

    <uses-permission android:name="android.permission.SEND_SMS"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>

    <!-- 这个权限用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <!-- 这个权限用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <!-- 获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <!-- 写入扩展存储，向扩展卡写入数据，用于写入离线定位数据 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <!-- 访问网络，网络定位需要上网 -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- SD卡读取权限，用户写入离线定位数据 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>

    <application
        android:name=".APP"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="fY8CRYYiZuRqNWBzWXsiGwDsr1QyqFqz"/>

        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote"/>

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".activitys.AnimationActivity"
            android:label="@string/title_activity_animation"/>
        <activity
            android:name=".activitys.PropertyAnimationActivity"
            android:label="@string/title_activity_property_animation"/>
        <activity
            android:name=".activitys.ActivitiesActivity"
            android:label="@string/title_activity_activities"/>
        <activity
            android:name=".activitys.SmsActivity"
            android:label="@string/title_activity_sms"/>
        <activity
            android:name=".activitys.WidgetActivity"
            android:label="@string/title_activity_widget"
            android:theme="@android:style/Theme.Holo.Light"/>
        <activity
            android:name=".activitys.PasswordRetrievalActivity"
            android:label="@string/title_activity_password_retrieval"/>
        <activity
            android:name=".activitys.WebViewActivity"
            android:label="@string/title_activity_web_view"
            android:windowSoftInputMode="stateAlwaysHidden"/>
        <activity
            android:name=".activitys.AboutTextActivity"
            android:label="@string/title_activity_about_text"
            android:theme="@style/PswdTheme"/>
        <activity
            android:name=".activitys.ObjectAnimatorActivity"
            android:label="@string/title_activity_object_animator"/>
        <activity
            android:name=".activitys.WindowActivity"
            android:label="@string/title_activity_window"/>
        <activity
            android:name=".activitys.ShareActivity"
            android:label="@string/title_activity_share"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity
            android:name=".activitys.SearchViewActivity"
            android:label="@string/title_activity_search_view"/>
        <activity
            android:name=".activitys.TableHostActivity"
            android:theme="@style/Theme.AppCompat"/>
        <activity
            android:name=".activitys.DrawerLayoutActivity"
            android:label="@string/title_activity_drawer_layout"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>
        <activity
            android:name=".activitys.OkhttpUtilsTestActivity"
            android:theme="@style/Theme.AppCompat.Light">
        </activity>
        <activity
            android:name=".activitys.PicturePickActivity"
            android:label="@string/title_activity_picture_pick">
        </activity>
        <activity android:name=".activitys.TagViewActivity">
        </activity>
        <activity android:name=".activitys.BannerViewActivity">
        </activity>
        <activity
            android:name=".activitys.LocationActivity"
            android:label="@string/title_activity_location">
        </activity>
        <activity
            android:name=".activitys.FloatingActionActivity"
            android:label="@string/title_activity_floating_action"
            android:theme="@style/Theme.AppCompat.Light">
        </activity>
        <activity
            android:name=".activitys.TabLayoutActivity"
            android:label="@string/title_activity_tablayout"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>
        <activity
            android:name=".activitys.XRecyclerViewActivity"
            android:theme="@style/SupportTheme"/>
    </application>

</manifest>